.page {
  max-width: 980px;
  margin: 0 auto;
  padding: 18px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 6px;
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
}
